<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand photo" href="#">
      <a routerLink="../Customer/home"><img src="{{logo}}" alt="lastsmalllogo"
          width="100" height="50"></a>
    </a>

    <div class="d-flex">

      <a class="navbar-brand  ">
        <p class=" name  " [ngStyle]="{color:'var(--pink-400)'}" *ngIf="isAuthintecated==true"> {{(user.firstName)}}</p>
      </a>
<a class="navbar-brand  ">
  <p-button *ngIf="isAuthintecated==true" icon="pi pi-shopping-cart" styleClass="p-button-warning" badge="{{cartCounter}}" badgeClass="p-badge-danger">

  </p-button>

</a>
      <a class="navbar-brand  ">
        <img *ngIf="isAuthintecated==true" class="rounded-circle shadow p-1 mb-5  rounded" src="https://localhost:44318/images/users/{{user.image}}" alt=""
          width="50px" height="50px">
      </a>
      <a class="navbar-brand  ">
        <button *ngIf="isAuthintecated==true" class=" btn-shad" pButton pRipple type="button" label="LogOut"
          (click)="LogOut()" class="p-button-outlined p-button-rounded p-button-danger"></button>
      </a>

      <a class="navbar-brand  ">
        <button *ngIf="isAuthintecated==false" pButton pRipple type="button" label="login" routerLink="/login"
          class="p-button-rounded p-button-success"></button>
      </a>
      <a class="navbar-brand  ">
        <button *ngIf="isAuthintecated==false" (click)="LogClick()" pButton routerLink="/login/register" pRipple type="button" label="signup"
          class="p-button-rounded p-button-success"></button>
      </a>
      <!-- <a class="navbar-brand  ">
        <button pButton pRipple type="button"  icon="pi pi-bars" (click)="visibleSidebar2 = true"
          class=" p-mr-2 p-button-rounded p-button-success p-button-outlined"></button>
      </a> -->
      <!-- <p-sidebar  [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000"   [showCloseIcon]="true">

        <app-side-bar></app-side-bar>
  <div >
      <app-side-bar-layout ></app-side-bar-layout>
    </div>

      </p-sidebar> -->


    </div>
  </div>
</nav>
<!-- <button mat-button " >Open dialog</button> -->
<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
